body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.picture-frame {
    width: 800px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 10px;
}

.cat1, .cat2, .man1,
.man2, .woman1, .woman2 {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 10px;
}

.arrow-right {
    width: 120px;
    height: 120px;
    margin-left: 20px;
}

.arrow-right:hover,
.arrow-left:hover {
    background-color: hsl(0, 0%, 0%, 0.2);
    cursor: pointer;
}

.arrow-right:active,
.arrow-left:active {
    background-color: hsl(208, 100%, 97%, 0.6);
}

.arrow-left {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}